{% extends 'base.html' %}

{% block content %}
<form action="details" method="post">
    {% csrf_token %}
    <p>
        {{ form.name.label }}<br>
        {{ form.name }}<br>
    </p>        

    <p>
        {{ form.address.label }}<br>
        {{ form.address }}<br>
    </p>

    <p>
        {{ form.card.label }}<br>
        {{ form.card }}<br>
    </p>
    
    <p>
        {{ form.expiry.label }}<br>
        {{ form.expiry }}<br>
    </p>
    <p>
        {{ form.cvv.label }}<br>
        {{ form.cvv }}<br>
        </p>
    <p>
        <button type="submit">Submit</button>
    </p>
</form>

{% endblock %}
