{% extends 'base.html' %}

{% block content %}
<h1>Enter Your details below</h1>
<form action="details" method="post">
    {{ form.non_field_errors }}
    {% csrf_token %}
    <div class="form-element">
        {{ form.name.label }}<br>
        {{ form.name }}<br>
    </div>

    <div class="form-element">
        {{ form.address.label }}<br>
        {{ form.address }}<br>
    </div>

    <div class="form-element">
        {{ form.card.label }}<br>
        {{ form.card }}<br>
    </div>
    
    <div class="form-element">
        {{ form.expiry.label }}<br>
        {{ form.expiry }}<br>
    </div>

    <div class="form-element">
        {{ form.cvv.label }}<br>
        {{ form.cvv }}<br>
    </div>
    
    <p>
        <button type="submit">Submit</button>
    </p>
</form>


{% endblock %}
