{% extends 'base.html' %}

{% block content %}
<p>
{{ form.non_field_errors }}
</p>
<form action="details" method="post">
    {% csrf_token %}
    <p>
        {{ form.name.label }}<br>
        {{ form.name }}<br>
    </p>

    <p>
        {{ form.address.label }}<br>
        {{ form.address }}<br>
    </p>

    <p>
        {{ form.card.label }}<br>
        {{ form.card }}<br>
        {{ form.errors.card }} <br>
    </p>
    
    <p>
        {{ form.expiry.label }}<br>
        {{ form.expiry }}<br>
    </p>
    <p>
        {{ form.cvv.label }}<br>
        {{ form.cvv }}<br>
        {{ form.errors.cvv }} <br>
    </p>
    <p>
        <button type="submit">Submit</button>
    </p>
</form>


{% endblock %}
