{% extends 'base.html' %}
{% block content %}
    <h1>Here is your Order</h1>

    <article>
        <header> <b>Pizza No. {{ pizza.id }}</b> </header>
          {% for key, value in pizza.items %}
            {% if key != '_state' and key != 'id' and key not in toppings %}  
              <p> {{ key | title }} : {{ value }} <p>  
            {% endif %}
          {% endfor %}
          <p> <b>Toppings: </b></p>
          <ul>
            {% for key, value in toppings.items %}
              {% if value %}
                <p>{{ key | title }}</p>
              {% endif %}
            {% endfor %}
          </ul>
    </article>
    <article>
        <header> <b>Customer No. {{ customer.id }} </b> </header>
        {% for key, value in customer.items %}
        {% if key != '_state' and key != 'id' %}  
        <p> {{ key | title }} : {{ value }} <p>  
        {% endif %}
          {% endfor %}
        </article>

{% endblock %}