{% extends 'base.html' %}

{% block content %}
<form action="" method="post">
    <h3>Make your pizza</h3>
    {% csrf_token %}
    
    <article>
        <h4>{{ form.size.label }} </h4>
        {{ form.size }}<br>
    </article>
    <br>
    
    <article>
        <h4>{{ form.crust.label }} </h4>
        {{ form.crust}}<br>
    </article>
    <br>
    
    <article>
        <h4>{{ form.sauce.label }} </h4>
        {{ form.sauce }}<br>
    </article>
    <br>
    
    <article>
        <h4>{{ form.cheese.label }} </h4>
        {{ form.cheese }}<br>
    </article>
    <br>
    <article>
        <h4> Toppings </h4>
        {{form.pepperoni}}
        {{ form.pepperoni.label }}
        <br>
         
        {{form.chicken}}
        {{ form.chicken.label }}
        <br>
         
        {{form.ham}}
        {{ form.ham.label }}
        <br>
         
        {{form.pineapple}}
        {{ form.pineapple.label }}
        <br>
        
        {{form.pepper}}
        {{ form.pepper.label }}
        <br>
        
        {{form.mushroom}}
        {{ form.mushroom.label }}
        <br>
         
        {{form.onion}}
        {{ form.onion.label }}
        <br>
    </article>
    <br>
    <p>
        <button type="submit">Submit</button>
    </p>
</form>
{% endblock %}